<% if @request.errors.any? %>
<ul>
  <% @request.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
</ul>
<% end %>
<% end %>

<%= form_for @request do |f| %>
Name: <%= f.text_field :name %>
<br>
Email: <%= f.text_field :email %>
<br>
Department: <%= f.radio_button :department, "Sales"  %>
            <%= f.label :department, "Sales" %>
            <%= f.radio_button :department, "Marketing"  %>
            <%= f.label :department, "Marketing" %>
            <%= f.radio_button :department, "Technical"  %>
            <%= f.label :department, "Technical" %>
<br>
Message: <%= f.text_area :message %>
<br>
<%= f.submit "Save" %>
<% end %>